{% extends 'base.html' %}

{% block title %}{{ medication.name|capfirst }} details{% endblock %}

{% block content %}

    <div class="container mt-3">
        <!-- Medication Details -->
        <ul class="list-group mb-5">
            <li class="list-group-item"><strong>Name:</strong> {{ medication.name|capfirst }}</li>
            <li class="list-group-item"><strong>Description:</strong> {{ medication.description }}</li>
            <li class="list-group-item"><strong>Released:</strong> {{ medication.released }}</li>
        </ul>

        <!-- Diseases treated by this medication -->
        <h5>Related Diseases:</h5>
        <ul class="list-group">
            {% for disease in medication.diseases.all %}
                <li class="list-group-item">
                    <a href="{% url 'disease_details' disease.id %}">{{ disease.name|capfirst }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
